@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%; /* Ensures the navbar spans the entire width of the viewport */
    top: 0; /* Fix the navbar to the top of the viewport */
    z-index: 1000; /* Ensure the navbar appears above other content */
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    color: rgb(44, 177, 44);
    font-size: 20px;
    height: 100%;
    padding:0 30px ;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-weight: 700;
}

nav a:hover,
nav a.active,
nav a.active.hideOnMobile{
    background-color: grey;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.808);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.svg-path {
    fill: rgb(44, 177, 44); /* Change the fill color of the path */
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button {
    display: none;
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background: black;
}

.about-me {
    width: 80%; /* Adjust width as needed */
    padding: 20px; /* Add padding for better readability */
    margin-left: 50px; /* Adjust left margin to create space between the section and about-me container */
    padding-left: 20px; /* Add padding to move content slightly to the right */
    text-align: left; /* Align text to the left */
}

section .about-me h1 {
    font-size: 50px;
}

section .about-me .green-text {
    color: rgb(23, 204, 23)
}

section .about-me-img img {
    width: 70%; /* Set the width to 50% of its parent container */
    height: auto; /* Maintain the aspect ratio */
    border: none; /* Remove any border */
    border-radius: 50%; /* Makes the border circular */
    box-shadow: 0 0 20px 5px rgb(44, 177, 44); /* Initial box-shadow with green glow */
    animation: glowing 2s infinite alternate; /* Apply a glowing animation */
}

@keyframes glowing {
    from {
        box-shadow: 0 0 10px 0 rgb(44, 177, 44); /* Start with smaller green box-shadow */
    }
    to {
        box-shadow: 0 0 20px 5px rgba(3, 240, 3, 0.966); /* Transition to larger green box-shadow */
    }
}

section:nth-child(odd) {
    background: grey;
}

@media(max-width: 800px){
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }

}

@media(max-width: 400px){
    .sidebar {
        width: 100%;
    }
}